.wrap{
    background-color: #111521;
    color: white;
    margin-top: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}


.spandiv{
    margin-left:1rem;
    display: inline-block;
}

.img{
    width:1.8rem;
    height:1.8rem;
    display: inline-block;
    margin-left:0.5rem;
}
