.wrap{
    width:100%;
    height: 6rem;
    background-color: #F1F1F1;
    position: absolute;
    bottom: 4rem;
    color: GrayText;
    padding-left: 1rem;
    padding-right: 1rem;
}

.left{
    margin:0;
    padding: 0;
    float: left;
}

.right{
    margin:0;
    padding: 0;
    float: right;
}

.money{
    color:red;
}