.wrap {
    padding: 1rem;
    font-size: 16px;
}

.top{
    width:100%;
    overflow:scroll;


}
.leftspan {
    margin-left: 1rem;
    color: #B89146;
}

.rightspan{
    float:right;
}

.rightnum {
    color: green;
    font-size:22px;
    margin: 0;
    padding: 0;
}
.righttext{
    color:GrayText;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.bottom {
    width: 100%;
    text-align: center;
}

.icon {
    display: inline-block;
    border: GrayText 1px solid;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 2.8rem;
    color: red;
    font-weight: 800;
}

.middle {
    display: inline-block;
    width: 8rem;
    position: relative;
}


.unit {
    position: relative;
    top:0.8rem;
    color: GrayText;
}

.moneynum {
    position: relative;
    top:0.8rem;
    font-weight: 900;
    color: #D23735;
}
