.wrap {
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.top{
    width:100%;
    overflow:scroll;


}
.leftspan {
    margin-left: 1rem;
    color: #B89146;
}

.rightspan{
    float:right;
}

.rightnum {
    color: green;
    font-size:22px;
    margin: 0;
    padding: 0;
}
.righttext{
    color:GrayText;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.bottom {
    width: 100%;
    text-align: center;
}

.icon {
    display: inline-block;
    border: GrayText 1px solid;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 2.4rem;
    color: red;
    font-weight: 800;
    position: relative;
}

.img{
    width: 1.6rem;
    height: 1.6rem;
    position:absolute; left:50%; top:50%; transform: translate(-50%,-50%);
}

.middle {
    display: inline-block;
    width: 8rem;
    position: relative;
}

.topp {
    margin:0;
    padding: 0;
    font-size: 16px;
    color: GrayText;
}

.bottomp {
    margin:0;
    padding: 0;
    font-size: 14px;
    font-weight: 900;
    color: #D23735;
}
/*  中间文字结束  */

